
h4.bookTitle {
    color: #333333;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 17px;
    overflow: hidden;
    height: 40px;
    margin-top: 5px;
    line-height: 20px;
}

.authorName{
    overflow: hidden;
    height: 40px;
}

.Container {
    margin-right: 0px;
    margin-left: 0px;
}

.starsDesign{
    display: inline-block;
}

.VideoTag{
    width: 100%;
    height: 400px;
}

.TitleClass{
    font-size: 25px;
    line-height: 2.3;
    padding-bottom: 4px;
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}

.underLine{
    border-bottom: 1px solid #ccc!important;
    border-top: 1px solid #e7e7e7;
    margin-bottom: 12px!important;
    margin-top: 20px!important;
    border-width: 0;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
}

.TitleOfCards{
    text-align: left;
    padding-left: 35px;
}

.seeMore{
    position: relative; 
    padding-right: 9px;
    color: #1a02ee;
    float: right!important;
    font-size: 13px!important;
    line-height: 19px!important;
    font-weight: 400!important;

}

.see-more-container{
    align-self: flex-end;
}

.onSale{
    position: relative;
}

.book-actions .btn-addtocart {
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0 0 0 10px !important;
    vertical-align: middle;
    font-size: 24px;
    color: #FFFFFF;
    width: auto;
    background: transparent;
    line-height: 35px;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    min-width: 100px;
}

.test1{
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0 0 0 10px !important;
    vertical-align: middle;
    font-size: 24px;
    color: transparent;
    width: auto;
    background: transparent;
    line-height: 35px;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    min-width: 100px;
    /* --- */
   /* border: none;
    color: #FFFFFF;
    height: 55px;
    line-height: 55px;
    padding: 0 15px !important;
    font-size: 27px;
    border-radius: 50px;
    -webkit-box-shadow: 0 3px 2px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 3px 2px 0 rgb(0 0 0 / 20%);
    min-width: 150px;
    display: inline-block; */
    position: absolute;
    left: 5px;
    top: 150px;
}